<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Muokkaa Albumia</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    
</head>
<body style="background-color: #82692c; color: black;">
	<h1>Muokkaa Albumia</h1>
	<div>
		<form th:object="${album}" th:action="@{saveedit}" action="#" method="post">
			<label for="id"></label>
			<input type="hidden" id="id" th:field="*{id}" />
			
		  	<label for="nimi">Nimi</label>
			<input type="text" id="nimi" th:field="*{nimi}" />
			<span th:if="${#fields.hasErrors('nimi')}" th:errors="*{nimi}">Error</span>
			<div style="clear: both; display: block; height: 10px;"></div>
			
		  	<label for="vuosi">vuosi</label>
			<input type="text" id="vuosi" th:field="*{vuosi}" />
			<span th:if="${#fields.hasErrors('vuosi')}" th:errors="*{vuosi}">Error</span>
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="artist" th:text="#{artist}">Artisti</label>
			<input type="text"  th:field="*{artist}"/>
			<div style="clear: both; display: block; height: 10px;"></div>
			
			
			<label for="genre" th:text="#{genre}"></label>
			<input type="text"  th:field="*{genre}"/>
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<div style="clear: both; display: block; height: 20px;"></div>
			<button type="submit" th:text="#{save}" class="btn btn-success"></button>
			<td><a th:href="@{/albumlist}" class="btn btn-danger">Peruuta</a></td>
		</form>
	</div>
</body>
</html>